$layout-left-width: max(80px, 5vw);
$layout-right-width: max(200px, 38.2vw);
$layout-transition-speed: 0.3s ease-in-out;
$layout-mobile-left-width: 60px;
$layout-mobile-right-width: 70vw;
$header-height: 60px;
