.masonry-container {
  padding: 0.3rem;
  height: 85%;
  display: flex;
  flex-direction: column;
}

.masonry-grid {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));

  &:has(.card-container.--span-2:nth-last-child(odd)) {
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
  }

  grid-template-rows: masonry;
  position: relative;
  flex-shrink: 1;
  margin-top: 0.5rem;

  @supports not (grid-template-rows: masonry) {
    column-count: var(--columns, 1);
    column-gap: 0.5rem;

    & > * {
      break-inside: avoid;
    }
  }

  .card-container {
    &.--span-2 {
      grid-column: span 2;
    }
    &.--span-3 {
      grid-column: span 3;
    }
  }

  @media (max-width: 440px) {
    grid-template-columns: 1fr;

    .card-container {
      grid-column: 1;
    }
  }
}

@media (max-width: 660px) {
  .masonry-grid {
    --columns: 2;
  }
}

@media (max-width: 440px) {
  .masonry-grid {
    --columns: 1;
  }
}

.non-masonry-grid {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
  position: relative;
  flex-shrink: 1;
  margin-top: 0.5rem;

  .card-container {
    &.--span-2 {
      grid-column: span 2;
    }
    &.--span-3 {
      grid-column: span 3;
    }
  }

  @media (max-width: 440px) {
    grid-template-columns: 1fr;

    .card-container {
      grid-column: 1;
    }
  }
}

@media (max-width: 660px) {
  .non-masonry-grid {
    --columns: 2;
  }
}

@media (max-width: 440px) {
  .non-masonry-grid {
    --columns: 1;
  }
}

.fade-scale-enter-active,
.fade-scale-leave-active {
  transition: all 0.3s ease;
}

.fade-scale-enter-from,
.fade-scale-leave-to {
  opacity: 0;
  transform: scale(0.8);
}
