/* layout */
.main-content {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.7) 60%,
      rgba(255, 255, 255, 0.4)
  );
  position: relative;
  padding: 2rem 1rem 1rem;
}

.content-wrapper {
  position: relative;
  z-index: 1;

  p {
    margin: 0.5rem 0;
    line-height: 1.4;
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 0.25rem;
  position: relative;
  z-index: 1;
}

.secondary-content {
  border-top: 1px solid #eee;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1px);
}
